#mor{
    display: none;
}

#more{
    display: none;
}
#mores{
    display: none;
}
#history{
    display: none;
}

#Politicals{
    display: none;
}

span{
    color: #0000ff;
    cursor: pointer;
    font-family: "Georgia";
}
span:hover{
    color: #ff0000;
}
